#resources-container {
    font-family: Arial, sans-serif;
    font-size: large;
    line-height: 1.6;
    margin: 20px auto;
    color: #333; 
  }
  
/* Headings */
#resources-container h1 {
    text-align: center;
    color: #0056b3; 
    margin-bottom: 20px;
  }
  
  /* Paragraphs */
  #resources-container p {
    margin: 16px 0;
    text-align: justify;
  }
  
  /* Links */
  #resources-container a {
    color: #0077c8;
    text-decoration: none;
  }
  
  #resources-container a:hover {
    text-decoration: underline;
  }
  
  